<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSpokenName</key>
	<string>HAY low FYE</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Halo-Fi</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>HAY low FYE</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>HaloFi</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>HAY low FYE</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Halo Fi</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>HAY low FYE</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Halo Fee</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>HAY low FYE</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Hello Fi</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>HAY low FYE</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>halofi</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
